<p class="mt-5 mb-3 input-group"> Search Pokemons by name: &nbsp;
  <input type="text"
       class="form-control mb-2"
       placeholder="Pokemon name"
       #txtSearch
       (keyup)="onSearchPokemon(txtSearch.value)" />
</p>

<table class="table table-striped text-center">
  <thead>
    <tr class="text-center">
      <th [ngStyle]="{'width': '6.25rem'}">#</th>
      <th [ngStyle]="{'width': '9.3rem'}">Name</th>
      <th>Sprite</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let poke of pokemons | filter:page:search | paginate: { itemsPerPage: 5, currentPage: page }"
          [ngStyle]="{'height': '6.25rem'}">
      <td>{{poke.id}}</td>
      <td>{{poke.name}}</td>
      <td>
        <img
          [src]="poke.pic"
          [alt]="poke.name"
          [ngStyle]="{'width': '4.68rem'}"
        >
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="page = $event"
                     previousLabel="Previous"
                     nextLabel="Next">
</pagination-controls>
